body {
  font-family: "Maven Pro", sans-serif;
  /* background-image: url("Black_and_White_Dots.jpg"); */
}

.container {
  margin: 20px;
  padding: 20px;
  display: grid;
  /* grid-template-columns: minmax(200px, 476.65px) minmax(200px, 476.65px) 0; */
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 476.65px)); */
  grid-template-columns: minmax(400px, 1fr) minmax(200px, 1fr);
  /* grid-template-columns: 45% 45%; */
  grid-template-rows: auto;
  gap: 0px 20px;
}

.item-1 {
  grid-column: 1 / span 2;
  grid-row: 1 / 2;
  justify-items: center;
  min-height: 100px;
}

.item-2 {
  grid-column: 1;
  grid-row: 2;
  justify-self: center;
  align-items: start;
}

.item-3 {
  grid-column: 2;
  grid-row: 2;
}

#quote {
  text-align: center;
  font-family: "Unna", serif;
  font-size: 45px;
  text-decoration: underline dotted black;
  color: black;
}

#agenda {
  font-style: italic;
}

.input {
  width: 285px;
  height: 40px;
  border: none;
  border-bottom: 2px solid black;
}

#input h2 {
  font-size: 20px;
}

input[type="text"] {
  font-size: 120%;
  font-family: "Poiret One", cursive;
  font-weight: bold;
  padding: 0 10px 0 10px;
}

.input::placeholder {
  font-family: "Poiret One", cursive;
  font-size: 25px;
  text-align: center;
  font-weight: normal;
}

.input:hover {
  background-color: #9999991c;
  border-radius: 2px;
}

.input:focus {
  outline: none;
  border-bottom: 2px solid black;
}

#submit {
  height: 50px;
  font-family: "Maven Pro", sans-serif;
  font-weight: normal;
  border: none;
  background-color: black;
  border-radius: 50%;
  color: white;
  height: 52px;
  width: 52px;
  padding: 0;
}

#submit:hover {
  background-color: #a9a9a9;
}
/* font-family: "Gloria Hallelujah", cursive; */

#list {
  border: 2px solid black;
  border-radius: 30px;
  background-color: #a9a9a9;
  color: white;
  font-size: 18px;
  line-height: 2.5;
  width: auto;
  max-width: 470px;
}
